body {
  background-color: #645D5D;
}
.App {
  text-align: center;
  background-color: #645D5D;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: white;
 
}
.HomeContainer {
  display: flex;
  flex-direction: column;
 
}
.HeroBox {
  background-color:#43aa8b ;
}
.HeroContainer {
  background-color: #222121;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 200px;
 
}
.BottomBox {
  background-color:#222121;
}
.BottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #43aa8b;
  width: 100%;
  height: 500px;
  padding-top: 100px;
  border-top-right-radius: 200px;
}
.Welcome {
  color: white;
  font-size: 30px;
  
}
.myFooter {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;  
  
}