body {
  background-color: #645D5D;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (min-width: 768px) {

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: white;
}

.HeroBox {
  background: linear-gradient(90deg, rgb(0, 9, 12) 0%, rgb(6, 145, 105) 35%, rgb(92, 211, 235) 100%);
}
.HeroContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 200px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(5, 5, 5) 0%, rgb(25, 27, 27) 48%, rgb(107, 109, 109) 83%);
}
.BottomBox {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(5, 5, 5) 0%, rgb(25, 27, 27) 48%, rgb(107, 109, 109) 83%);
}
.BottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  padding-top: 100px;
  border-top-right-radius: 200px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(0, 9, 12) 0%, rgb(6, 145, 105) 35%, rgb(92, 211, 235) 100%); 
}
.Welcome {
  color: white;
  font-size: 30px;
  padding: 50px;
}
.Ready {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}
.HomeButton {
  color: black;  
}
.myFooter {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;    
}
.RecipeContainer {
  background: linear-gradient(90deg, rgb(112, 110, 110) 0%, rgb(245, 248, 247) 35%, rgb(240, 241, 241) 100%);
  width: 100%;
  
   
}
.headerLetter {
  color: black;
  margin-left: 100px;
  margin-bottom: 100px;
}

.FavoriteContainer {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



